# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/
/platform/edge/interzonerepeater/target/
/platform/edge/messaging/target/
/platform/edge/model/target/
/platform/edge/restful/target/
/platform/endpoints/target/
/platform/petasos/audit/target/
/platform/petasos/core/target/
/platform/processingplant/target/
/platform/workshop/target/
/platform/workunitprocessors/target/
/commoncode/target/
/communicate/fhirbridge/target/
/communicate/iris/subsystem/target/
/communicate/iris/workflow/target/
/communicate/matrixbridge/target/
/communicate/matrixsdk/target/
/datamodels/communicate/target/
/datamodels/core/target/
/datamodels/csv/target/
/datamodels/fhir/target/
/datamodels/hl7v2x/target/
/deployment/constants/target/
/deployment/datasets/target/
/deployment/properties/target/
/deployment/topology/target/
/services/auditing/agent/bin/target/
/services/auditing/agent/target/
/services/auditing/common/target/
/services/datagrid/cache/target/
/services/datagrid/cachestores/fhir/target/
/services/datagrid/poc/target/
/services/oam/im/target/
/services/oam/pm/target/
/services/tasking/dm/target/
/services/tasking/im/target/
/services/tasking/internals/target/
/services/tasking/metadata/target/

documentation/.project

documentation/.classpath
